.custom-btn {
  width: auto;
  color: #000;
  padding: 10px;
}

.custom-btn:hover {
  width: auto;
  color: #ffffff;
  padding: 10px;
}

.action-font {
  color: rgb(57, 103, 227);
  font-weight: 500;
  cursor: pointer;
}